In [1]:
def twotimes(x):
    y = 2 * x
    return y

In [2]:
twotimes(2)

4

### 연습문제 

1. 짝수가 입력되면 짝수라는 문자열을, 홀수가 입력되면 홀수라는 문자열을 반환하는 함수를 만든다.
<br>
1. 윤년을 나타나는 수가 입력되면 윤년이라는 문자열을, 그렇지 않은 수가 입력되면 평년이라는 문자열을 반환하는 함수를 만든다.
1. 평년일 때 1, 3, 5, 7, 8, 10, 12 월은 31일, 4, 6, 9, 11월은 30일, 2월은 28일이다. 월을 나타내는 숫자를 입력하면 그 달의 날짜 수를 반환하는 함수 days1 를 만든다. 사용 예는 다음과 같다.

In [5]:
# 1번 문제

def even_odd(x):
    if x % 2 == 0:
        print("짝수")
    else:
        print("홀수")

even_odd(3)

홀수

In [18]:
# 2번 문제

def leap_year(y):
    if y % 400 == 0 or y % 100 != 0 and y % 4 == 0:  
        print("윤년")
    else:
        print("평년")
        
leap_year(2024)

윤년

In [13]:
# 3번 문제

def days1(m):
    if m in [1, 3, 5, 7, 8, 10, 12]:
        print(31)
    elif m in [4, 6, 9 ,11]:
        print(30)
    elif m == 2:
        print(28)
    else:
        print("잘못된 입력입니다. 1~12월 중에서 선택해주세요")
        
days1(2)

28

### 입력이 여러 개인 함수

In [14]:
def add(x, y):
    return x + y

add(1, 2)

3

In [15]:
def sum(a, b, c):
    s = a + b + c
    return s

sum(1, 2, 3)

6

### 연습문제

연도를 나타내는 숫자와 월을 나타내는 숫자를 입력하면 그 달의 날짜 수를 반환하는 함수 days2 를 만든다.

사용 예는 다음과 같다.

In [16]:
def days2(y, m):
    if y % 400 == 0 or y % 100 != 0 and y % 4 == 0:  
        if m in [1, 3, 5, 7, 8, 10, 12]:
            print(31)
        elif m in [4, 6, 9 ,11]:
            print(30)
        elif m == 2:
            print(29)
        else:
            print("잘못된 입력, 1~12월 중에서 선택")
    else:
        if m in [1, 3, 5, 7, 8, 10, 12]:
            print(31)
        elif m in [4, 6, 9 ,11]:
            print(30)
        elif m == 2:
            print(28)
        else:
            print("잘못된 입력, 1~12월 중에서 선택")

In [21]:
days2(2200, 2)

28

### 람다 함수 lambda

함수에 이름을 주지 않거나 코드를 짧게 줄여쓰는 방법으로 람다(lambda)함수가 있다.

In [25]:
def func(x):
    return 2 * x

In [26]:
f = lambda x: 2 * x

In [27]:
f(2)

4

### 지역 변수

함수에 넣은 입력 변수나 함수 안에서 만들어진 변수는 함수 바깥에서는 사용할 수 없다.

이름이 같은 변수가 있다고 하더라도 별개의 변수가 된다.

함수 안에서 만들어지고 사용되는 변수의 이름은 **지역변수(local variable)** 이라고 한다.

In [28]:
def f(x):
    y = 10 * x
    print("y = ", y)
    return y

In [29]:
f(10)

y =  100

100

In [30]:
y

NameError: name 'y' is not defined

위 예제처럼 함수 f(x) 안에서 만들어진 지역변수 y는 f(x) 함수 안에서만 변수로서 기능을하고

함수 바깥에서는 y가 정의되지 않았다고 나온다.



> 즉, 함수 안에서 만들어지는 지역 변수는 함수 바깥에 아무런 영향을 주지 않는다.

In [31]:
y = 1000

In [32]:
f(2)

y =  20

20

In [33]:
y

1000

### 전역 변수

지역 변수와 반대로 함수 바깥에서 만들어진 변수는 함수 안에서 사용이 가능하다. 
<br>이러한 변수를 전역 변수(global variable)이라고 한다.

In [34]:
z = 3

def f2(x):
    y = z * x
    print("y =",y)
    print("z =",z)
    return y

In [35]:
f2(10)

y = 30
z = 3

30

다만, 전역변수와 같은 이름의 변수를 함수 내에 지역변수로 만들면 안된다.
<br>만약 전역변수와 같은 이름의 변수를 함수 안에 다시 만든다면 함수 안에서는 그 지역 변수를 사용하다가
<br>함수 바깥으로 나오면 지역 변수는 사라지고 원래의 변숫값으로 돌아온다.